@CHARSET "ISO-8859-1";

body{
	margin-top: 60px;
	background-color: #F8EFFB;
}

.footer{
	background-color: #F8EFFB;
}

.form-signin{
	margin: 6px;
}

.alert{
	text-align: center;
}

#painel_adm{
	margin-top: 20px;
    margin-bottom: 20px;
}

.white{
	background-color: #FFFFFF;
}

.bs-example{
	margin: 20px;
}

.form-horizontal{
    width: auto;
}